{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-image: url('https://bit.ly/3Ufzh1E');
            background-size: 100%;
        }
    </style>
</head>
<body>
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %} 
        Cover:<input type="file" name="cover">
        Pdf:<input type="file" name="pdf">
        <button type="submit">Submit</button>
    </form>
<div class="shelf">
{% for i in books %} 

<h1>Books</h1>
        <a href="{{i.pdf.url}}"><img src="{{i.cover.url}}" width="100"></a>
        <a href="{{i.pdf.url}}" download >Download</a>
{% endfor %}
    </div>
</body>
</html>